

.input-table {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.input-table table {
  width: 100%;
  max-width: 600px;
  border-collapse: collapse;
}

.input-table td {
  padding: 5px;
  vertical-align: middle;
}

.input-table label {
  display: block;
  font-size: 1.1em;
  margin-bottom: 8px;
}

.input-field {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  border-radius: 5px;
  border: 1px solid #ccc;
}


.message {
  font-size: 1.2em;
  margin-top: 15px;
  margin-bottom: 15px;
}

.message.small {
  font-size: 0.9em;
}

.upload-section {
  
  cursor: pointer;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  background-color: white;
  color: #4285F4;
  font-size: 1.1em;
}
.labelUpload{
  height: 100%;
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}
.upload-label {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
  border-radius: 8px;
  background-color: white;
  color: #4285F4;
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
  transition: background-color 0.3s ease;
}

.file-icon {
  font-size: 3em;
  margin-right: 10px;
}

.upload-label:hover {
  background-color: #f0f0f0;
}

.upload-label:active {
  background-color: #ddd;
}

#image-upload {
  display: none;
}

.camera-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.image-preview {
  margin-top: 10px;
}

.image-preview img {
  max-width: 100%;
  max-height: 200px;
  border-radius: 5px;
}

.button {
  background-color: white;
  color: #4285F4;
  padding: 7px 10px;
  border: none;
  border-radius: 5px;
  font-size: 0.8em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 120px;
}

.button:hover {
  background-color: #f0f0f0;
}

.back-button {
  background-color: white;
  color: #4285F4;
  border: 2px solid #4285F4;
  border-radius: 5px;
  font-size: 25px;
  width: 40px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
  position: absolute;
  left: 0;
  margin-left: 5px;
  z-index: 88;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.back-button:hover {
  background-color: #4285F4;
  color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

.back-button:active {
  transform: scale(0.98);
}


.signature-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.signature-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 20px auto;
}

.signature-options input {
  font-family: 'Arial', sans-serif;
  font-size: 1.2em;
  padding: 12px 20px;
  margin-bottom: 20px;
  width: 80%;
  border: 2px solid #ccc;
  border-radius: 10px;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  background-color: #f9f9f9;
}

.signature-options input:focus {
  border-color: #4285F4;
  box-shadow: 0 0 8px rgba(66, 133, 244, 0.3);
}

.signature-options .typed-signature {
  font-family: 'Dancing Script', cursive;
  font-size: 48px;
  color: #4285F4;
  font-weight: bold;
  margin-top: 10px;
  padding: 10px;
  border: 2px dashed #4285F4;
  border-radius: 10px;
  width: 80%;
  text-align: center;
}

.signature-options .button-group {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-top: 20px;
  width: 100%;
}

.signature-options .clear-button {
  background-color: #f0f0f0;
  color: #4285F4;
  border: 2px solid #4285F4;
}

.signature-options .clear-button:hover {
  background-color: #dfe3e8;
  transform: scale(1.05);
}


.font-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  color: #4285F4;
}

.font-modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
  text-align: center;
}

.font-list {
  margin-top: 20px;
  max-height: 300px;
  overflow-y: auto;
}

.font-option {
  padding: 10px;
  font-size: 1.2em;
  cursor: pointer;
}

.font-option:hover {
  background-color: #f0f0f0;
}

.signature-actions button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #4285F4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signature-actions button:hover {
  background-color: #3367D6;
}



.upload-container {
  margin-bottom: 30px;
  width: 500px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.tab-header {
  display: flex;
  background: linear-gradient(to right, #3367D6, #E6E6FA); 
}

.tab {
  flex: 1;
  padding: 10px 15px;
  border: none;
  background: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tab.active {
  background-color: white;
  color: #3367D6;
}

.upload-box {
  padding: 20px;
  text-align: center;
  border: 2px dashed #D3D3D3; 
  border-radius: 8px;
  margin: 10px;
  background-color: white;
  
}

.upload-icon {
  width: 50px; 
  height: 50px;
  margin: 0 auto 10px;
}

.upload-box p {
  color: #808080;
}


.floating-icon-anim{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.canvas-container {
  position: relative;
}

.floating-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10;
  display: flex;
  flex-direction: row;
  align-items: center;
  pointer-events: none;  /* Evita que el ícono interfiera con los eventos de clic/touch */
}



.floating-icon svg {
  font-size: 60px;  /* Tamaño del icono */
  animation: bounce 1s infinite;
}

.floating-icon p {
  margin-top: 10px;
  font-size: 16px;
  color: #000;
  font-weight: bold;
}

@keyframes floatIcon {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    transform: translate(-50%, -60%) rotate(10deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}





@media (max-width: 576px) {
  .upload-container{
    width: 95%;
  }
  .message {
    font-size: 1em;
  }

  .message.small {
    font-size: 0.8em;
  }

  .input-field {
    width: 90%;
  }

  .button {
    width: 45%;
  }

  .input-table table {
    width: 90%;
  }

  .upload-label {
    width: 100%;
    height: 100%;
  }

}

