.layout-container {
  display: flex;
  flex-direction: column; 
  height: 100vh; 
}

.layout-topbar {
  flex-shrink: 0;
  height: 10%; 
}

.layout-body {
  flex-grow: 1; 
  overflow-y: auto; 
}

.layout-bottom-actions {
  flex-shrink: 0; 
  height: 15%;
  display: flex; 
  justify-content: center; 
  align-items: center; 
}
 
 
 .login-logo-topbar {
    max-width: 100px;
  }
  .login-logo-topbar-icon {
    display: none;
  }
  .title-phone {
    font-size: 1.4em;
  }
  .button-group {
    display: flex;
    gap: 10px;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
  }
  @media (max-width: 576px) {
    .login-logo-topbar {
      display: none;
    }
    .login-logo-topbar-icon {
      max-width: 35px;
      display: block;
    }
  }
  @media (min-width: 577px) {
    .title-phone {
     display: none;
    }
  }
  
  .user-menu {
    display: none;
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    min-width: 200px;
  }
  
  .user-menu p {
    margin: 0 0 10px;
  }
  
  .user-menu button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
  }
  
  .user-menu button:hover {
    background-color: #2980b9;
  }
  